{
  "presets": [["@babel/preset-env", {"modules": false}]],
  "plugins": [
    [
      "component",
      {
        "libraryName": "fy-test-webpack"
        // "styleLibraryName": "theme-chalk"
      }
    ]
  ]
}